/* common_general_rules  */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-width: 1440px;
}

.flex {
	display: flex;
}

.circle,
.arrow_left,
.arrow_right,
.menu_left,
.menu_right,
.icon:hover {
	cursor: pointer;
}
/* common_general_rules  */

/**********
#SITE_HEADER 
**********/

#site_header {
	background-color: #d5d5d5;
}

.container_header {
	width: 100%;
	line-height: 30px;
	padding: 0 0.5rem;
}

.list_circle {
	list-style: none;
}

.list_circle > li {
	display: inline-block;
}

.list_circle > li > a {
	padding: 1rem 0.1rem;
}

.circle,
.id {
	width: 50%;
	padding: 0 1rem;
}

#circle_left {
	color: #fc625d;
}

#circle_center {
	color: #fdbf41;
}

#circle_right {
	color: #35c94a;
}

.row {
	width: 200px;
	height: 25px;
	background-color: #fff;
	position: relative;
	margin: 0 0.5rem 0.4rem 0.4rem;
}

.row_minor {
	width: 90%;
	height: 10px;
	background-color: #a5a5a5;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/**********
/#SITE_HEADER 
**********/

/**********
#SITE_MAIN
**********/

#site_main {
	background-color: #000;
	position: relative;
	padding: 1rem 5rem;
}

/* .container_menu */
.container_main {
	flex-wrap: wrap;
	margin-top: 1.5rem;
}

.card {
	width: 20%;
	padding: 0.2rem;
}

.image {
	height: 100%;
	position: relative;
}

.image > img {
	width: 100%;
	height: 100%;
}

.microphone {
	width: auto;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	text-align: left;
	background-color: #3b372ec2;
	font-size: 15px;
	padding: 0 0.3rem;
}

.microphone > i {
	font-size: 13px;
	padding-right: 0.5rem;
}
/* /.container_menu */

/* .menu */
.menu {
	position: absolute;
	top: 6px;
	right: 15px;
	padding-top: 0.2rem;
}

.menu_left,
.menu_right {
	border: none;
}

.menu_left {
	width: auto;
	line-height: 25px;
	display: inline-block;
	background-color: #393939;
	color: #fff;
	border-radius: 5px;
	padding: 0 0.5rem;
}

.menu_left h3 {
	font-size: 12px;
	padding: 0 0.5rem;
}

.menu_left > i,
h3 {
	display: inline;
}

.menu_right {
	width: 30px;
	line-height: 25px;
	margin-left: 0.5rem;
	display: inline-block;
	background-color: #393939;
	color: #fff;
	border-radius: 5px;
	text-align: center;
}

.menu_right i {
	font-size: 12px;
}
/* /.menu */

/* .arrow */
.arrow_left {
	position: absolute;
	top: 50%;
	left: 1%;
	color: #7f7f7f;
	font-size: 40px;
	background-color: #000;
	border: none;
}

.arrow_right {
	position: absolute;
	top: 50%;
	right: 1%;
	color: #39bbfc;
	font-size: 40px;
	background-color: #000;
	border: none;
}
/* /.arrow */

/**********
/#SITE_MAIN 
**********/

/**********
#SITE_FOOTER
**********/

#site_footer {
	width: 100%;
	height: auto;
	background-color: #202223;
	color: #dcdcdc;
	padding-left: 2rem;
}

.container_footer {
	justify-content: space-between;
}

.container_left,
.container_center {
	padding: 0.5rem 0;
}

.icon {
	width: auto;
	position: relative;
	text-align: center;
	background-color: #202223;
	color: #dcdcdc;
	border: none;
	padding: 0 1.5rem 0 1rem;
}

.icon > i {
	font-size: 25px;
	padding: 0.3rem 0.7rem;
}

.icon > p {
	font-weight: 500;
	font-size: 15px;
}

.arrow_up > i {
	font-size: 15px;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(-50%, -50%);
}

/* .container_center */
#icon_upload > i:nth-child(1) {
	color: #51c623;
}

#record > i {
	padding: 0.3rem 0;
}

#sub_arrow_up {
	font-size: 10px;
}

.icon > sub > i,
sup {
	font-weight: 600;
}
/* /.container_center */

/* .container_right */
.container_right {
	width: 130px;
	height: 69.4px;
}

.container_right > button {
	width: 100%;
	line-height: 69.4px;
	color: #fb5751;
	background-color: #4a4b4d;
	text-align: center;
	padding: 0;
}
/* /.container_right */

/**********
/#SITE_FOOTER 
**********/
